<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>黑名单管理</title>
    <!-- 引入jequery -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script src="/js/jquery-1.8.0.js"></script>
    <!-- 引入bootstrap的css、js文件 -->
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.css">
    <script type="text/javascript" src="/bootstrap3/js/bootstrap.js"></script>
    <!-- 引入table的css、js -->
    <link rel="stylesheet" href="/js/bootstrap-table/bootstrap-table.css">
    <script type="text/javascript" src="/js/bootstrap-table/bootstrap-table.js"></script>
    <script type="text/javascript" src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="/js/bootstrap-bootbox/bootbox.js"></script>
    <!-- 引入date日期的css、js -->
    <link rel="stylesheet" href="/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <script type="text/javascript" src="/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
  <!--  引入layer-->
    <script src="/js/layer/layer.js"></script>
</head>
<body>
<input type="button" class="btn btn-success" value="导出Excel" onclick="exportExcel()">
<table id="blackTable"></table>
</body>
<script>
    function exportExcel(){
         var ids="";
         var arr=$(".chk");
        for (var i=0;i<arr.length;i++){
            if (arr[i].checked==true){
                ids+=","+arr[i].value;
            }
        }
        ids=ids.substr(1);
        if (ids==""){
            layer.msg("请选择导出数据");
        } else{
            location.href="/ExportExcel?ids="+ids;
        }
    }

    $(function() {
        initRoleJob();//初始化用户表格数据

    })
    function  initRoleJob() {
        $("#blackTable").bootstrapTable({
            url:"/getblacklist",
            method:"post",
            striped: true,  	// 斑马线效果     默认false
            //只允许选中一行
            singleSelect:true,
            //选中行是不选中复选框或者单选按钮
            clickToSelect:true,
            showToggle:true,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            uniqueId: "id",                 //每一行的唯一标识，一般为主键列
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,     //  最少留两列
            detailView: false,                  //是否显示父子表
            //发送到服务器的数据编码类型
            contentType:'application/x-www-form-urlencoded;charset=UTF-8',   //数据编码纯文本  offset=0&limit=5
            toolbar:'#tabToolBar',   //  工具定义位置
            columns:[
                {field:'id',title:"Id",width:100,formatter:function (value,row,index) {
                        return '<input type="checkbox" value="'+value+'" class="chk">'
                    }},
                {field:'phone',title:'手机号码',width:100},      //  列    field   代表是 后台  传过来的值
                {field:'blacktime',title:'时间',width:100},
                {field:'xx',title:'操作',width:100,formatter:function(value,row,index){

                        return "<a href=javascript:deleteblack('"+row.id+"')  class='btn btn-primary btn-lg active' role='button'>删除</a>";

                    }},
            ],
            //传递参数（*）
            queryParams: function(params) {
                var whereParams = {
                    /*
                        分页  自定义的参数         默认传 limit（展示几条）    offset（从第几条开始    起始条数）
                    */
                    "pageSize":params.limit,
                    "start":params.offset
                }
                return whereParams;
            },
            //前台--排序字段
            //sortName:'proPrice',
            //sortOrder:'desc',
            //前台--搜索框
            search:true,
            //启动回车键做搜索功能
            searchOnEnterKey:true,
            //分页方式   后台请求的分页方式
            sidePagination:'server',
            pagination: true,                   //是否显示分页（*）
            pageNum: 1,                       //每页的记录行数（*）
            pageSize: 3,                       //每页的记录行数（*）
            pageList: [3,6,9,12],        //可供选择的每页的行数（*）
        });

    }

    /**
     * 黑名单的 删除
     * @param id
     */
    //loading层
    function deleteblack(id) {
        layer.confirm('您确定要删除这条数据吗?', {icon: 3, title:'提示'}, function(index){
            //do something
            $.ajax({
                url:"/deleteblack",
                type:"post",
                data:{id:id},
                success:function (data) {
                    layer.msg('删除成功');
                    $("#blackTable").bootstrapTable('refresh');
                },error:function () {
                    alert("删除失败");
                }
            })
            layer.close(index);
        });


    }

</script>
</html>