<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线发货</title>
    <!-- 引入jequery -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- 引入bootstrap的css、js文件 -->
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.css">
    <script type="text/javascript" src="/bootstrap3/js/bootstrap.js"></script>
    <!-- 引入table的css、js -->
    <link rel="stylesheet" href="/js/bootstrap-table/bootstrap-table.css">
    <script type="text/javascript" src="/js/bootstrap-table/bootstrap-table.js"></script>
    <script type="text/javascript" src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="/js/bootstrap-bootbox/bootbox.js"></script>
    <!-- 引入date日期的css、js -->
    <link rel="stylesheet" href="/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <script type="text/javascript" src="/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

    <!--  引入layer-->
    <script src="/js/layer/layer.js"></script>
</head>
<body>
    <form id="deliveryid" method="post">
        <div>

        <pre>
        出发地: <input type="text"  name="" placeholder="请选择发货地">到达地:<input type="text"  name="" placeholder="请选择发收货地">
        联系人: <input type="text"  name="" placeholder="请输入联系人"><font color="red">必填</font><br>
        手机:    <input type="text"  name="" placeholder="请输入手机号码"><font color="red">必填</font><br>
        货物名称:<input type="text"  name="" placeholder="请输入货物名称"><font color="red">必填</font><br>
        货物信息:<input type="text"  name="" placeholder="请输入重量">公斤<input type="text" name="" placeholder="请输入立方米">立方米 &nbsp;&nbsp;&nbsp;&nbsp;注:用于估算运费&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="javascript:error()">什么是重货轻货？</a>
        <br>
        <h6>....................................................................................</h6><br>
        其他说明:
        <textarea  rows="3" placeholder="请输入其他说明" name="" style="width: 200px;height: 200px"></textarea><br></pre>
        <button type="button" class="btn btn-success btn-lg">提交订单</button>

        </div>
    </form>
</body>
<script>

</script>
</html>