
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link href="/js/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/easyui-1.7.0/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/js/easyui-1.7.0/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/js/easyui-1.7.0/demo.css">
    <script type="text/javascript" src="/js/easyui-1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/easyui-1.7.0/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/js/easyui-1.7.0/plugins/jquery.datagrid.js"></script>
    <script type="text/javascript" src="/js/easyui-1.7.0/locale/easyui-lang-zh_CN.js"></script>
</head>
<style>
    body {
        width：100%;
        height: 100%;
        background-image: url(/js/css/4.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
</style>
<body >



<div class="aui-register-popup" >
    <div class="aui-register-box">
        <div class="aui-register-link">
            <a href="javascript:;" class="fl">返回首页</a>
            <a href="javascript:;" class="fr">已有账号？去登录</a>
        </div>
        <div class="aui-register-logo">
            <img src="images/logo.png" alt="">
        </div>
        <div class="aui-register-form" id="verifyCheck">
            <div class="register-wrap" id="register-wrap">
                <div class="register" id="register">
                    <div class="register-top" id="reg-top">
                        <h2 class="normal" id="normal">普通登录</h2>
                        <h2 class="nopassword" id="nopw">手机无密码登录</h2>
                        <a id="qrcode" href="#">
                            <span class="aui-tag-size">邮箱登录</span>
                        </a>
                    </div>
                    <!--账户密码登录-->
                    <div class="register-con" id="rc">
                        <form id="userloginForm"  method="post">
                        <div class="aui-register-form-item">
                            <input type="text" name="username" maxlength="20"  placeholder="账户名" class="txt03 f-r3 required" tabindex="3" data-valid="isNonEmpty||between:3-20||isUname" data-error="<i class='icon-tips'></i>您还没有输入账户名||<i class='icon-tips'></i>用户名长度3-20位||<i class='icon-tips'></i>只能输入字母、数字、且以中文或字母开头" id="adminNo">
                            <label class="focus valid"></label>
                        </div>
                        <div class="aui-register-form-item">
                            <input type="password" name="password" placeholder="密码" id="password" maxlength="20" class="txt04 f-r3 required" tabindex="4" style="ime-mode:disabled;" onpaste="return  false" autocomplete="off" data-valid="isNonEmpty||between:6-20||level:2" data-error="<i class='icon-tips'></i>密码太短，最少6位||<i class='icon-tips'></i>密码长度6-20位||<i class='icon-tips'></i>密码太简单，有被盗风险，建议字母+数字的组合">
                            <label class="focus valid"></label>

                        </div>
                        <div style="margin-left: 80px;">
                        <input    type="checkbox" name="remPwd" value="1">记住密码
                        </div>
                        <div class="aui-register-form-item" >
                            <p class="aui-for-pwd"><br>
                                <a class="" href="#">忘记密码</a>
                            </p>
                            <input id="aui-btn-reg" class="aui-btn-reg"   readonly="readonly" value="登录" >
                        </div>
                        </form>
                        <div class="aui-protocol">
                            登录即同意
                            <a  href="#">《使用协议》</a>&
                            <a  href="#">《隐私权条款》</a>
                        </div>
                        <div class="aui-thirds">
                            <div class="clear"></div>
                        </div>
                    </div>

                    <!--手机动态码登录-->
                    <div class="login-con" id="lc">
                        <div class="aui-register-form-item">
                            <input type="text" name="phone" placeholder="手机号码" class="txt01 f-r3 required" keycodes="tel" tabindex="1" data-valid="isNonEmpty||isPhone" data-error="<i class='icon-tips'></i>请输入手机号||<i class='icon-tips'></i>手机号码格式不正确" maxlength="11" id="phone">
                            <label class="focus valid"><div class="msg" style="display:none"><i class='icon-tips'></i>您还未输入手机号</div></label>
                            <span class="aui-get-code btn btn-gray f-r3 f-ml5 f-size13" id="time_box" disabled style="display:none;"></span>
                            <span class="aui-get-code btn btn-gray f-r3 f-ml5 f-size13" id="verifyYz" >获取动态码</span>
                        </div>
                        <div class="aui-register-form-item">
                            <input type="text" placeholder="动态码" maxlength="6" id="verifyNo" class="txt02 f-r3 f-fl required" tabindex="2" data-valid="isNonEmpty||isInt" data-error="<i class='icon-tips'></i>请填写正确的手机动态码||<i class='icon-tips'></i>请填写6位手机动态码">
                            <label class="focus valid"></label>
                        </div>
                        <div class="aui-register-form-item">
                            <input id="aui-btn-reg1" class="aui-btn-reg" placeholder=""  readonly="readonly" value="登录" >
                        </div>
                        <div class="aui-protocol">
                            登录即同意
                            <a  href="#">《使用协议》</a>&
                            <a  href="#">《隐私权条款》</a>
                        </div>
                        <div class="aui-thirds">
                            <div class="clear"></div>
                        </div>
                    </div>


                    <!-- 邮箱登录 -->
                    <div class="saoma" id="sm">
                        <div class="screen-tu" id="screen">
                            <span class="aui-tag-size">密码登录</span>
                        </div>
                        <div class="aui-text-item">
                            <h1>请输入邮箱</h1>
                        </div>
                        <div class="qr-code">
                            <form id="emailformid" method="post">
                                邮箱

                                <input class="easyui-textbox" id="email" style="width:300px">

                                <!--按钮-->
                          <a id="toemail"  class="easyui-linkbutton" >获取验证码</a>
                            </form>
                            <a  href="javascript:emaillogin()" class="easyui-linkbutton" >登录</a>
                        </div>
                        <div class="aui-tab-footer">
                            <p>17扫码登录，同步账户信息 | <a href="#">下载17APP</a></p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="aui-register-bottom">
            <a>©188.com</a>
            <a href="#">联系客服</a>
            <a href="#">帮助中心</a>
            <div class="clear"></div>
        </div>
    </div>
</div>


<script type="text/javascript" src="js/login.js"></script>
<script type="text/javascript">
    $("#aui-btn-reg").click(function() {
        $.ajax({
            url:"/login",
            type:"post",
            data:$("#userloginForm").serialize(),
            success:function (data) {

            },error:function () {
                
            }
        });
    });

    $(function() {

    });
    /*th:checked="${password}==null?'false':'checked'"*/
</script>


</body>
</html>
